FeatureStore/**/bin
FeatureStore/**/obj
FeatureStore/Source/Data/bin/
FeatureStore/Source/Data/obj/
FeatureStore/Source/HealthChecks/bin/
FeatureStore/Source/HealthChecks/obj/
FeatureStore/Source/Instrumentation/bin/
FeatureStore/Source/Instrumentation/obj/
FeatureStore/Source/Mutual/obj/
FeatureStore/Source/Service/bin/
FeatureStore/Source/Service/obj/
FeatureStore/Source/ServiceProxy/bin/
FeatureStore/Source/ServiceProxy/obj/
FeatureStore/Tests/Core.Tests/bin/
FeatureStore/Tests/Core.Tests/obj/
FeatureStore/Tests/Data.Tests/bin/
FeatureStore/Tests/Service.Tests/bin/
FeatureStore/Tests/ServiceProxy.Tests/bin/
FeatureStore/Tests/ServiceProxy.Tests/obj/
FeatureStore/_ReSharper.Ciroque.Foundations,FeatureStore/
FeatureStore/_ReSharper.Ciroque.Foundations.FeatureStore/
PoorMansVersionControl/
FeatureStore/Tests/HealthCheck.Tests/bin/
FeatureStore/Tests/HealthCheck.Tests/obj/
FeatureStore/Tests/Data.Tests/obj/
