<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="featureStore.StorageContainer-CacheSwapping" 
      type="Ciroque.Foundations.FeatureStore.Data.StorageContainerConfigurationSection, Ciroque.Foundations.FeatureStore.Data,Version=1.0.0.0,Culture=neutral,PublicKeyToken=77add38493494c0c"/>

    <section 
      name="featureStore.StorageContainer-InMemory" 
      type="Ciroque.Foundations.FeatureStore.Data.StorageContainerConfigurationSection, Ciroque.Foundations.FeatureStore.Data,Version=1.0.0.0,Culture=neutral,PublicKeyToken=77add38493494c0c"/>

    <section 
      name="featureStore.StorageContainer-SqlServer" 
      type="Ciroque.Foundations.FeatureStore.Data.StorageContainerConfigurationSection, Ciroque.Foundations.FeatureStore.Data,Version=1.0.0.0,Culture=neutral,PublicKeyToken=77add38493494c0c"/>
  
    <section 
      name="featureStore.StorageContainer-Invalid" 
      type="Ciroque.Foundations.FeatureStore.Data.StorageContainerConfigurationSection, Ciroque.Foundations.FeatureStore.Data,Version=1.0.0.0,Culture=neutral,PublicKeyToken=77add38493494c0c"/>
  
  </configSections>
  
  <connectionStrings>
    <add name="Ciroque.Foundations.FeatureStore.Database" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=FeatureStore;Data Source=CIROQUE"/>
  </connectionStrings>

  <featureStore.StorageContainer-CacheSwapping containerType="CacheSwapping" storageLocation=".\CacheSwappingStorageFile.dat" />
  <featureStore.StorageContainer-InMemory containerType="InMemory" storageLocation="" />
  <featureStore.StorageContainer-SqlServer containerType="SqlServer" storageLocation="" />
  <featureStore.StorageContainer-Invalid containerType="Invalid" storageLocation="" />

</configuration>