<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="FeatureStoreServiceNetTcpBinding" maxBufferSize="1048576"
            maxReceivedMessageSize="1048576">
          <readerQuotas maxArrayLength="1048576" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:32157/FeatureStore" 
                binding="netTcpBinding"
                bindingConfiguration="FeatureStoreServiceNetTcpBinding" 
                contract="Ciroque.Foundations.FeatureStore.ServiceProxy.IFeatureStoreServiceProxy"
                name="FeatureStoreSmokeTester">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
