<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <section
      name="featureStore.StorageContainer"
      type="Ciroque.Foundations.FeatureStore.Data.StorageContainerConfigurationSection, Ciroque.Foundations.FeatureStore.Data,Version=1.0.0.0,Culture=neutral,PublicKeyToken=77add38493494c0c"/>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  
  </configSections>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="P:\Development\work\msft\Ciroque.Foundations.Common.FeatureStore\Ciroque.Foundations.Common.FeatureStore\Tests\ServiceProxy.Tests\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="P:\Development\work\msft\Ciroque.Foundations.Common.FeatureStore\Ciroque.Foundations.Common.FeatureStore\Tests\ServiceProxy.Tests\App_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <log4net configSource="log4net.config"/>

  <featureStore.StorageContainer containerType="InMemory" storageLocation="" />

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="FeatureStoreServiceNetTcpBinding" maxBufferSize="1048576"
          maxReceivedMessageSize="1048576">
          <readerQuotas maxArrayLength="1048576" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FeatureStoreServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
    <client>
      <endpoint address="net.tcp://localhost:32157/FeatureStore" binding="netTcpBinding"
        bindingConfiguration="" contract="Ciroque.Foundations.FeatureStore.ServiceProxy.IFeatureStoreServiceProxy"
        name="ServiceProxyTestClient" kind="" endpointConfiguration="" />
    </client>
    <services>
      <service behaviorConfiguration="FeatureStoreServiceBehavior"
        name="Ciroque.Foundations.FeatureStore.Service.FeatureStoreService">
        <endpoint address="net.tcp://localhost:32157/FeatureStore" binding="netTcpBinding"
          bindingConfiguration="FeatureStoreServiceNetTcpBinding" name="PrimaryTcpEndpoint"
          contract="Ciroque.Foundations.FeatureStore.Service.IFeatureStoreService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>