<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="Ciroque.Foundations.FeatureStore.Service.FeatureStoreService">
        <endpoint address="net.tcp://localhost:32156/FeatureStore" binding="netTcpBinding"
          bindingConfiguration="" name="PrimaryTcpEndpoint" contract="Ciroque.Foundations.FeatureStore.Service.IFeatureStoreService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>